html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px  */

}
*, *::before *::after {
    box-sizing: inherit;
}
body {
    font-family: "Roboto", sans-serif;
}
:root {
    --dark-background-color: #1F2937;
    --main-text-color: #F9FAF9;
    --secondary-text-color: #E5E7EB;
    --butto-color: #3882F6;
    --info-text-color: #1F2937;
}
/* Globales */
h1 {
    font-size: 4.8rem;
}
p {
    font-size: 1.8rem;
}
h2 {
    font-size: 3.6rem;
}
