html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px  */

}
*, *::before *::after {
    box-sizing: inherit;
}
body {
    font-family: "Roboto", sans-serif;
}
/* Globales */
h1 {
    font-size: 4.8rem;
}
p {
    font-size: 1.8rem;
}
h2 {
    font-size: 3.6rem;
}
